[submodule "lib/epdiy/epdiy"]
	path = lib/epdiy/epdiy
	url = https://github.com/atomic14/epdiy.git
	ignore = untracked
[submodule "lib/png/PNGdec"]
	path = lib/png/PNGdec
	url = https://github.com/atomic14/PNGdec.git
